<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
        <h3>
            eCom
        </h3>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-list">Products list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-create" routerLinkActive="active">Add product</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 border-white search-field" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search-btn" type="submit">Search</button>
        </form>
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img src="./assets/user.png" alt="user">
          <a class="dropdown-toggle text-dark text-decoration-none ms-2" dropdownToggle
            >Welcome {{user.username}}</a
          >
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Cart</a>
            <a class="dropdown-item">Wish list</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <ul class="navbar-nav" *ngIf="!(accountService.currentUser$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  